<h1>customer: <%= @customer.name %> </h1>
<%= link_to "customers", customers_path %>
<%= link_to "delete", customer_path(@customer), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure you want to delete this customer? This action will be irreversible."
                }%>
<%= link_to "Edit", edit_customer_path(@customer) %>